@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* MENU SUPERIOR */
.menu {
  width: 100%;
  height: 70px;
  background-color: #11228d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.menu ul {
  list-style-type: none;
  display: flex;
  column-gap: 2rem;
}

.menu li {
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu li:hover {
  background-color: #3889f3;
}

.nav-link {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  column-gap: 0.5rem;
}

/* CONTEÚDO */
.conteudo {
  margin-top: 80px; /* mais espaço após o menu */
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: #ffffff;
  color: #111;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

/* TÍTULOS E TEXTOS */
.conteudo h2 {
  text-align: center;
  color: #0b0f41;
  margin-bottom: 30px;
}

.conteudo p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 16px;
  text-align: justify;
}

.conteudo h4 {
  color: rgb(142, 0, 0);
  margin-top: 40px;
  text-align: center;
}

/* BOTÃO ENVIAR */
.enviar-btn {
  margin-top: 40px; /* distância do texto acima */
  width: 40%;
  padding: 15px;
  background: #11228d;
  border: none;
  outline: none;
  border-radius: 35px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.enviar-btn:hover {
  background: rgba(17, 39, 183, 0.8);
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.enviar-btn,
.enviar-btn a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
}
